In [1]:
import pandas as pd
import numpy as np
import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
true = pd.read_csv('True.csv')
fake = pd.read_csv('Fake.csv')

In [3]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
true['label'] = 1
fake['label'] = 0

In [5]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [6]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
news = pd.concat([fake, true], axis=0)

In [8]:
news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [9]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [10]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [11]:
news = news.drop(['subject'], axis=1)

In [12]:
news.head()

,title,text,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...","December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...","December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,"December 25, 2017",0

In [13]:
news = news.sample(frac=1)

In [14]:
news.head()

,title,text,date,label
19983,"Turkey, Iran and Russia to deploy observers in...","ANKARA (Reuters) - Russia, Iran and Turkey hav...","September 15, 2017",1
4292,BREAKING: Trump Campaign In A Panic As Donors...,Donald Trump s presidential campaign is spiral...,"October 9, 2016",0
17733,Spain gives Catalan leader five days to clarif...,MADRID (Reuters) - The Spanish government has ...,"October 11, 2017",1
23277,EPISODE #4 – ON THE QT: ‘Julian vs Hillary’ (P...,Listen to the first 30 min segment of this new...,"September 2, 2016",0
23450,"Will American Law Enforcement Lie, Cheat and F...",21st Century Wire says The issue of honest pol...,"February 9, 2016",0

In [15]:
news.reset_index(inplace=True)

In [16]:
news.head()

,index,title,text,date,label
0,19983,"Turkey, Iran and Russia to deploy observers in...","ANKARA (Reuters) - Russia, Iran and Turkey hav...","September 15, 2017",1
1,4292,BREAKING: Trump Campaign In A Panic As Donors...,Donald Trump s presidential campaign is spiral...,"October 9, 2016",0
2,17733,Spain gives Catalan leader five days to clarif...,MADRID (Reuters) - The Spanish government has ...,"October 11, 2017",1
3,23277,EPISODE #4 – ON THE QT: ‘Julian vs Hillary’ (P...,Listen to the first 30 min segment of this new...,"September 2, 2016",0
4,23450,"Will American Law Enforcement Lie, Cheat and F...",21st Century Wire says The issue of honest pol...,"February 9, 2016",0

In [17]:
news.drop(['index'], axis=1, inplace=True)

In [18]:
news.head()

,title,text,date,label
0,"Turkey, Iran and Russia to deploy observers in...","ANKARA (Reuters) - Russia, Iran and Turkey hav...","September 15, 2017",1
1,BREAKING: Trump Campaign In A Panic As Donors...,Donald Trump s presidential campaign is spiral...,"October 9, 2016",0
2,Spain gives Catalan leader five days to clarif...,MADRID (Reuters) - The Spanish government has ...,"October 11, 2017",1
3,EPISODE #4 – ON THE QT: ‘Julian vs Hillary’ (P...,Listen to the first 30 min segment of this new...,"September 2, 2016",0
4,"Will American Law Enforcement Lie, Cheat and F...",21st Century Wire says The issue of honest pol...,"February 9, 2016",0

In [19]:
def wordopt(text):
    # Convert to lowercase
    text = text.lower()
    
    # URLs
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    
    # HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    # punctuation
    text = re.sub(r'[^\w\s]', '', text)
    
    # digits
    text = re.sub(r'\d', '', text)
    
    # newline characters
    text = re.sub(r'\n', ' ', text)
    
    return text

In [20]:
news['text'] = news['text'].apply(wordopt)

In [21]:
news['text']

0        ankara reuters  russia iran and turkey have ag...
1        donald trump s presidential campaign is spiral...
2        madrid reuters  the spanish government has giv...
3        listen to the first  min segment of this new f...
4        st century wire says the issue of honest polic...
                               ...
44893    washingtonhavana reuters  cuba said on wednesd...
44894    ohio state university assistant director of re...
44895    seoul reuters  south korea said on wednesday t...
44896    washington reuters  the us senate on monday re...
44897
Name: text, Length: 44898, dtype: object

In [22]:
x = news['text']
y = news['label']

In [23]:
y

0        1
1        0
2        1
3        0
4        0
        ..
44893    1
44894    0
44895    1
44896    1
44897    0
Name: label, Length: 44898, dtype: int64

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [25]:
x_train.shape

(31428,)

In [26]:
x_test.shape

(13470,)

In [27]:
vectorization = TfidfVectorizer()

In [28]:
xv_train = vectorization.fit_transform(x_train)

In [29]:
xv_test = vectorization.transform(x_test)

In [30]:
xv_train

<31428x174463 sparse matrix of type '<class 'numpy.float64'>'
	with 6466539 stored elements in Compressed Sparse Row format>

In [31]:
xv_test

<13470x174463 sparse matrix of type '<class 'numpy.float64'>'
	with 2713604 stored elements in Compressed Sparse Row format>

In [32]:
LR = LogisticRegression()

In [33]:
LR.fit(xv_train, y_train)

LogisticRegression()

In [34]:
pred_lr = LR.predict(xv_test)

In [35]:
LR.score(xv_test, y_test)

0.9868596881959911

In [36]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      6981
           1       0.98      0.99      0.99      6489

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

In [37]:
DTC = DecisionTreeClassifier()

In [38]:
DTC.fit(xv_train, y_train)

DecisionTreeClassifier()

In [39]:
pred_dtc = DTC.predict(xv_test)

In [40]:
DTC.score(xv_test, y_test)

0.996362286562732

In [41]:
print(classification_report(y_test, pred_dtc))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      6981
           1       1.00      1.00      1.00      6489

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [42]:
RFC = RandomForestClassifier()

In [43]:
RFC.fit(xv_train, y_train)

RandomForestClassifier()

In [44]:
predict_rfc = RFC.predict(xv_test)

In [45]:
RFC.score(xv_test, y_test)

0.9867112100965107

In [46]:
print(classification_report(y_test, predict_rfc))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      6981
           1       0.98      0.99      0.99      6489

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

In [47]:
GBC = GradientBoostingClassifier()

In [48]:
GBC.fit(xv_train, y_train)

GradientBoostingClassifier()

In [49]:
pred_gbc = GBC.predict(xv_test)

In [50]:
GBC.score(xv_test, y_test)

0.99547141796585

In [51]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      6981
           1       0.99      1.00      1.00      6489

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [52]:
def output_label(n):
    if n == 0:
        return "It is fake news."
    elif n == 1:
        return "It is genuine news."

In [53]:
def manual_test(news):
    # Corrected syntax for defining dictionary
    testing_news = {"text": [news]}
    
    # Converting the news from dictionary to DataFrame
    new_def_test = pd.DataFrame(testing_news)
    
    # Formatting the text of the news using the regular expression functions
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    
    # Vectorizing the news to be tested
    new_xv_test = vectorization.transform(new_x_test)
    
    # Prediction of the test news with all the algorithms
    pred_lr = LR.predict(new_xv_test)
    # pred_dtc = DTC.predict(new_xv_test)
    pred_rfc = RFC.predict(new_xv_test)
    pred_gbc = GBC.predict(new_xv_test)
    
    result = (
        f"LR Prediction: {output_label(pred_lr[0])}\n"
        f"GBC Prediction: {output_label(pred_gbc[0])}\n"
        f"RFC Prediction: {output_label(pred_rfc[0])}"
    )
    
    return result

In [56]:
news_article = str(input())

Union home minister asked for strategic deployment of the central forces to restore peace and tranquillity in Manipur. Union home minister Amit Shah on Monday said the government will talk to both Meiteis and Kukis to bridge the ethnic divide in Manipur at the earliest, while directing the security forces to ensure “no further incidents of violence should take place in the state”. The home minister asked for “strategic deployment of the central forces to restore peace and tranquillity in Manipur”, while adding that forces will be increased, if required. Shah made the remarks while chairing the first high-level meeting on Manipur by the central government after the National Democratic Alliance (NDA) led by Prime Minister Narendra Modi was re-elected to power earlier this month. It was attended by the Chief of Army Staff General Manoj Pande, Union home secretary Ajay Bhalla, Director - Intelligence Bureau (IB) Tapan Deka, Army chief designate Lt. General Upendra Dwivedi, security advisor to the government of Manipur, Kuldiep Singh, director general of Assam Rifles Lt Gen P C Nair, chief secretary of Manipur Vineet Joshi, director general of police (DGP) Rajiv Singh, and senior officials of the army and state police. Chief minister N Biren Singh was, however, missing from the crucial meeting. In the two-hour-long meeting, Shah “did a holistic review of the security situation in Manipur and directed to ensure that no further incident of violence take place in Manipur”, the ministry of home affairs (MHA) said in a statement. “The home minister stressed upon strategic deployment of the central forces to restore peace and tranquillity in Manipur. He added that the forces will be increased, if required. He further directed that strict action must be taken as per law against the perpetrators of violence,” it added. On government’s plans to talk to both the warring sides, the MHA said “the HM underscored the importance of coordinated approach to resolve the ongoing ethnic conflict”. “He said that the MHA will talk to both the groups, Meiteis and Kukis, so as to bridge the ethnic divide, at the earliest,” it added. Asserting that the Centre has been actively supporting the Manipur government in strengthening the security situation in the state, Shah told the officers the government “is fully committed to ensure safety and security of all citizens of Manipur”. Apart from deployment, the home minister also reviewed the situation in relief camps, particularly proper availability of food, water, medicines and other basic amenities. He directed the chief secretary to ensure proper health and education facilities for the displaced people and their rehabilitation. Since May 3 last year, Manipur has witnessed clashes between the two communities Kukis and Meiteis, which has claimed at least 225 lives to date and uprooted around 50,000 people, many of whom are still residing in relief centres. The northeastern state has seen fresh violence in the last couple of weeks with a school building near Moreh being set ablaze and a missing person’s beheaded body found was found. Last week, armed militants ambushed the convoy of Manipur chief minister N Biren Singh’s advanced security team in Kangpokpi district, leaving a civilian driver and a security officer injured. Around 600 people from Manipur’s Jiribam area are now taking shelter in Assam’s Cachar district following fresh violence reported there. One June 10, Rashtriya Swayamsevak Sangh (RSS) chief Dr Mohan Bhagwat said that Manipur has been waiting for peace for a year and this issue must be prioritised. Bhagwat stressed the need to get over with election rhetoric and focus on problems facing the nation. Addressing a gathering of RSS trainees in Nagpur, Bhagwat said, “Manipur is waiting for peace for the last one year. There was peace in Manipur 10 years ago. It felt like gun culture had finished there. But the state has suddenly seen violence”. The RSS chief said the situation in Manipur will have to be considered with priority and there is need to get over election rhetoric and focus on problems facing the nation. “The unrest either got triggered or was triggered, but Manipur is burning, and people are facing its extreme heat”, the RSS chief had said.

In [57]:
result = manual_test(news_article)
print(result)

LR Prediction: It is genuine news.
GBC Prediction: It is fake news.
RFC Prediction: It is genuine news.